*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#737373;
    --secondary-color: #5D5FEF;
}

/* start style for sub_header */
.sub_header{
    background: var(--primary-color);
}
.sub_header .items:first-child{
    font-family: Inter;
}

/* start css of nav */
.navbar .navbar_btn{
    background-color: var(--secondary-color);
}

/* start css of slider */
/* styles.css */
.sliderOne {
    width: 100%;
    height: 77.4vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 10.28%, rgba(0, 0, 0, 0.00) 64.72%), url(../img/headerimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .sliderOne_header, .sliderOne_content{
    font-family: Barlow;
  }
  .sliderOne_btn{
    background-color: #5D5FEF;
  }

  .slider_content{
    padding-left: 202px;
  }
  
