*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#737373;
    --Heading-color: #000;
    --Body-text: #ACACAC;
    --iris-100: #5D5FEF;
    --main-blue: #4B6A79;
    --grey:#646464;
    --iris-60: #A5A6F6;
}

/* start style for sub_header */
.sub_header{
    background: var(--primary-color);
}
.sub_header .items:first-child{
    font-family: Inter;
}

/* start css of nav */
.navbar .navbar_btn{
    background-color: var(--iris-100);
}

/* start css of slider */
/* styles.css */
.sliderOne {
  width: 100%;
    height: 77.4vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 10.28%, rgba(0, 0, 0, 0.00) 64.72%), url(../img/headerimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .sliderOne_header, .sliderOne_content{
    font-family: Barlow;
  }
  .sliderOne_btn{
    background-color: #5D5FEF;
  }
  
  /*.slider_content{
    margin: 202px;
  } */

  /* start to css of about section  */
  #about_Arch{
    /* width: 100%; */
    background: linear-gradient(90deg, #FFF 31.81%, rgba(255, 255, 255, 0.00) 100%), url(../img/aboutImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* start css of factor */

  .factor-item::after{
    content: '';
    position: absolute;
    display: flex;
    top: 80px;
    left: 350px;
    width: 1px;
    height: 224px;
    background: #EAEAEA;

  }
  .factor-item2::before{
    content: '';
    position: absolute;
    display: flex;
    top: 80px;
    left: 770px;
    width: 1px;
    height: 224px;
    background: #EAEAEA;
  }

/* css of features */

/* Define your custom CSS class */
.feature_circle::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--iris-100);
}

/* contact section */
#contact{
  background: linear-gradient(90deg, rgba(245, 245, 245, 0.88) 10.56%, rgba(245, 245, 245, 0.90) 100%);
}
