*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#737373;
    --secondary-color: #5D5FEF;
}

/* start style for sub_header */
.sub_header{
    background: var(--primary-color);
}
.sub_header .items:first-child{
    font-family: Inter;
}

/* start css of nav */
.navbar .navbar_btn{
    background-color: var(--secondary-color);
}